.about-section {
    color: #1f1f1f;
    overflow: hidden;

    .text-gradient {
        background: linear-gradient(90deg, #0c0e14, #022a44);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .about-image,
    .about-text-section {
        height: 552px;
    }

    .about-image {
        border-radius: 1rem;
        transition: transform 0.5s ease, box-shadow 0.3s ease;
        object-fit: cover;

        opacity: 0.8;
        background-color: rgb(255, 255, 255, 0.1);

        @keyframes fadeIn {
            from {
                opacity: 0.4;
            }

            to {
                opacity: 1;
            }
        }

        &:hover {
            transform: scale(1.03);
            animation: fadeIn 1s ease-in-out forwards;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }
    }

    p.lead {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #444;
        text-align: justify;

        strong {
            color: #000;
        }

        em {
            color: #0c0e14;
            font-style: normal;
            font-weight: 500;
        }
    }

    @media (max-width: 768px) {
        .featurette {
            flex-direction: column;
            text-align: center;
        }

        .text-gradient {
            font-size: 1.8rem;
        }

        p.lead {
            font-size: 1rem;
        }
    }
}